// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contact{
  margin: 20px;
  box-sizing: border-box;
}

.common-width{
  width: 100%;
  max-width: 1050px;
  margin: auto;
  overflow: hidden;
}

.read-width{
  padding: 50px 150px 100px 150px;
}
