// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ---google map--
  #map {
    width:100%; //寬，必須要有！
    height:450px; //高，必須要有！
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    }
