  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <h1><a href='welcome'><%= image_tag("logo.png") %> GoMoto收購中古機車</h1>
      </div>
      <div class="navbar-collapse navbar-ex2-collapse collapse" aria-expanded="false">
        <a href="tel:+886-926-089-621">0926-089-621</a>
        <a href="https://line.me/R/ti/p/%40xtc1540p"><%= image_tag("line_1.png") %></a>
        <a href="https://www.facebook.com/squ3798p/"><%= image_tag("fb_1.png") %></a>
      </div>
    </div>
  </nav>
